@import '../../../styles/mediaVariables.scss';

.buttons {
	display: flex;
	flex-direction: column;
	padding: 0.35rem;
	background-color: var(--background-primary);
	gap: 0.5rem;
	border-radius: 0.2rem;

	@media (min-width: $breakpoint-md) {
		margin-left: 2rem;
		margin-top: 1rem;
	}

	@media (min-width: $breakpoint-xl) {
		flex-direction: row;
		height: 3.8rem;
		align-self: top;
	}
}
