.todos {
	width: 35rem;
	max-width: 90%;
	margin: 3rem auto;
}

@media (min-width: 768px) {
	.todos {
		padding: 0 2rem;
	}
}

@media (min-width: 960px) {
	.todos {
		width: 50rem;
	}
}

@media (min-width: 1600px) {
	.todos {
		width: 65rem;
	}
}
