.todo-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 1rem 0;
	background: var(--background-todo-item);
	box-shadow: 0 2px 8px var(--box-shadow-todo-item);
	color: var(--color-todo-item);
	padding: 1rem 2rem;
	border-radius: 5px;
}

@media (min-width: 768px) {
	.todo-item {
		flex-direction: row;
	}
}

.todo-item p {
	word-break: break-all;
	margin-bottom: 2rem;
}
