@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
	/* Colors */

	--background-primary: rgb(250, 241, 248);
	--background-input-focus: #fad0ec;
	--background-input-invalid: #f7f3f3;
	--background-button: #8b005d;
	--background-todo-item: #8b005d;

	--border-input-color: #ccc;
	--border-input-color-focus: #8b005d;
	--border-input-color-invalid: #ce0e34;
	--border-button: #8b005d;

	--box-shadow-button: rgba(0, 0, 0, 0.26);
	--box-shadow-todo-item: rgba(0, 0, 0, 0.26);
	--box-shadow-todo-form: rgba(0, 0, 0, 0.2);

	--color-button: white;
	--color-todo-item: white;
	--color-label-invalid: #f80b3b;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body,
html {
	padding: 0;
	margin: 0;
	min-height: 100%;
	background-color: var(--background-primary);
}

body h1,
h2 {
	text-align: center;
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}
