@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
	/* Colors */

	--background-primary: rgb(250, 241, 248);

	--pink-1: #8b005d;
	--pink-2: #7c1752;
	--pink-3: #f7e0ef;
	--green-1: #0b553e;
	--blue-1: #0d637e;
	--red-1: #ce0e34;
	--red-2: #f80b3b;
	--gray-1: #f7f3f3;
	--gray-2: #ccc;

	--box-shadow-10: rgba(0, 0, 0, 0.1);
	--box-shadow-20: rgba(0, 0, 0, 0.2);
	--box-shadow-26: rgba(0, 0, 0, 0.26);

	--background-input-focus: var(--pink-3);
	--background-input-invalid: var(--gray-1);
	--background-button-input: var(--pink-1);
	--background-button-done: var(--green-1);
	--background-button-edit: var(--blue-1);
	--background-button-delete: var(--pink-2);

	--border-input-color: var(--gray-2);
	--border-input-color-focus: var(--pink-1);
	--border-input-color-invalid: var(--red-1);
	--border-input-button: var(--pink-1);
	--border-color-primary: var(--box-shadow-10);

	--box-shadow-button: var(--box-shadow-10);
	--box-shadow-todo-item: var(--box-shadow-26);
	--box-shadow-todo-form: var(--box-shadow-20);

	--color-button: white;
	--color-label-invalid: var(--red-2);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body,
html {
	padding: 0;
	margin: 0;
	min-height: 100%;
	background-color: var(--background-primary);
}

body h1,
h2 {
	text-align: center;
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}
