@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
	/* Colors */
	--background-color-primary: rgb(250, 241, 248);

	/* Should be renamed due to roles */

	/* --color-pink-1: #8b005d;
	--color-pink-2: #ac0e77;
	--color-pink-3: #fad0ec;

	--color-cream-1: #ecebeb;

	--color-black-primary: #222;

	--color-black-shadow-20: rgba(0, 0, 0, 0.2);
	--color-black-shadow-26: rgba(0, 0, 0, 0.26);

	--color-white-primary: white;

	--color-red-1: #f80b3b;
	--color-red-2: #ce0e34; */

	/* Font-sizes */

	/* Font-sizes should be here*/
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body,
html {
	padding: 0;
	margin: 0;
	min-height: 100%;
	background-color: var(--background-color-primary);
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}
